#!/bin/rc
# geneic hypercube operation template

while(! ~ `{date -n} *0?)sleep 1
echo $mynum `{date} >/tmp/cout.$mynum
dim=`{echo $mynum |wc -c}
dim=`{echo $dim - 1|hoc}
echo $dim
input=`{cat /tmp/cin.$mynum}
out=$input
i=0
echo $out >>/n/cube/$i
sleep 5
# i=`{echo $i + 1 |hoc}
while(newin=`{read}){
	echo $i
	out=($newin $out)
	echo $out >>/tmp/cout.$mynum
	i=`{echo $i + 1 |hoc}
	if(~ $i $dim)
		exit
	echo $out >>/n/cube/$i
	sleep 5
}

