#!/bin/rc
# hypercubic sum of vectors ala Ncube 1986

mydec=`{echo 'obase=10; ibase=2; print '$mynum | bc}
while(! ~ `{date -n} *0?)sleep .5
echo $mynum `{date} >/tmp/cout.$mynum
dim=`{echo $mynum |wc -c}
dim=`{echo $dim - 1|hoc}
echo $dim
input=`{cat /tmp/cin.$mynum}
out=0
for(i in $input)
	out=`{echo $out + ($i '*' $i) |hoc}
i=0
while(! ~ $i $dim){
	echo $i $out
	theirid=`{hyper -id $i -f $mynum}
	theirdec=`{echo 'obase=10; ibase=2; print '$theirid | bc}
	if(test $theirdec -lt $mydec){
		echo sending $out to $theirid on $i
		echo $out >>/n/cube/$i
		echo $out >>/tmp/cout.$mynum
	}
	if not{
		echo waiting for msg...
		msg=`{read}
		out=`{echo $out + $msg |hoc}
		echo sum is $out after adding $msg
	}
	i=`{echo $i + 1 |hoc}
	sleep 1
	while(! ~ `{date -n} *[05])sleep .1
}
echo $out >>/tmp/cout.$mynum
