#!/bin/rc
# prototype proof of concept timewarping rc script

fn parsemsg{
	vrt=$msg(1)
	vst=$msg(2)
	rcvr=$msg(3)
	sndr=$msg(4)
	sign=$msg(5)
	gid=$msg(6)
	body=$msg(7-)
}

fn cancelinq{
	for(i in `{ls inq}){
		chksign=`{cat $i}
		if(~ $chksign(5) neg){
			for(j in `{ls inq}){
				chkmatch=`{cat $j}
				if(~ $chkmatch(5) pos){
					if(~ $chkmatch(6) $chksign(6)){
						echo removing $i $j
						rm $i
						rm $j
					}
				}
			}
		}
	}
}

dim=`{echo -n $mynum |wc -c}
echo ___INITIATE $dim dimensional similation
cd /tmp/$mynum
rm state.*
rm inq/*
rm antiq/*
cvt=0
thefort=`{fortune}
#accum=$thefort(1)
accum=1
echo begin accum $accum
echo $accum >state.$cvt
sleep 30

while(test $cvt -lt 99){
	cvt=`{echo $cvt + 1 |hoc}
	echo $cvt _____ $cvt cvt
	outmsg=($cvt $cvt $cvt $mynum pos $mynum.$cvt $accum)
	antimsg=($cvt $cvt $cvt $mynum neg $mynum.$cvt $accum)
	prevmsg=`{cat antiq/$cvt}
	port=`{echo $cvt - 1 |hoc}
	if(test $port -gt $dim)
		port=$dim
	if(test $#prevmsg -gt 5){
		if(! ~ $"antimsg $"prevmsg){
			echo ANTI $prevmsg to /n/cube/$port
			echo $prevmsg >>/n/cube/$port
		}
	}
	echo SEND $outmsg to /n/cube/$port
	echo $outmsg >>/n/cube/$port
	echo $antimsg >antiq/$cvt
	echo $accum >state.$cvt
	msg=`{read}
	echo RECV msg $msg
	if(test $#msg -gt 5){
		parsemsg
		echo $msg >inq/$vrt
#		echo msg vrt is $vrt checking if less than cvt $cvt
		if(test $vrt -lt $cvt){
			cvt=$vrt
			echo ROLLBACK to $cvt
			if(test -e state.$cvt){
				echo setting accum to state at cvt $cvt
				accum=`{cat state.$cvt}
			}
		}
		cancelinq
	}
	if(test -e inq/$cvt){
		msg=`{cat inq/$cvt}
		parsemsg
		if(~ $sign pos){
			echo UPDATE $accum plus $body
			accum=`{echo $accum + $body |hoc}
		}
	}
	echo accum is $accum
}
